@media only screen and (max-width: 1100px) {
    .navigation {
        margin-right: 100px;
    }

    .main-card {
        justify-content: space-around;
        padding: 58px 0 98px 0;
    }

    .link-left {
        left: 10px;
    }

    .link-right {
        right: 10px;
    }
}
@media only screen and (max-width: 1030px) {
    .navigation {
        margin-right: 60px;
    }

    .link-left {
        display: none;
    }

    .link-right {
        display: none;
    }
}


@media only screen and (max-width: 960px) {

    .logo {
        margin-left: 100px;
    }

    .navigation {
        display: none;
    }

    .btn-menu {
        display: block;
        position: absolute;
        right: 27px;
        bottom: 18px;
    }

    .registration-link {
        margin-left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .banner-text__heading {
        font-size: 37px;
    }

    .banner-text_paragraph {
        font-size: 22px;
    }

    .main-card {
        padding: 0;
    }

    .product-card__text {
        margin: 0 auto;
        width: 80%;
    }

    .block-card {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .card {
        display: flex;
        align-items: center;
        margin: 0 auto;
        border-bottom: 1px solid #979797;
        padding-left: 45px;
        width: 100%;
    }

    .card__img {
        padding-bottom: 18px;
        padding-top: 32px;
        max-width: 186px;
    }

    .card__text {
        margin-left: 28px;
        text-align: left;
    }

    .card__text-heading {
        font-size: 32px;
        /*max-width: auto;*/
    }

    .product-card__image {
        margin: 0 auto;
        width: 50%;
    }
    .card-image{
        max-width: 100%;
    }

    .product-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .product__heading{
        margin: 0;
        text-align: center;
    }
}
@media only screen and (max-width: 760px){
    .banner-content{
        align-items: center;
    }
    .banner-text{
        padding: 0;
    }
    .banner-text__heading{
        font-size: 32px;
        margin: 0;
    }
    .banner-text__paragraph{
        font-size: 20px;
        line-height: 30px;
    }
    .registration-link {
        font-size: 31px;
        max-width: 234px;
        width: 100%;
        border-radius: 2px;
        margin: 19px 0;
    }

}

@media only screen and (max-width: 640px) {
    .logo {
        font-size: 42px;
        margin-left: 100px;
        position: relative;
        margin-bottom: 30px;
    }

    .navigation {
        display: none;
    }

    .link-right {
        display: none;
    }

    .link-left {
        display: none;
    }

    .banner-text__heading {
        font-size: 28px;
        margin-top: 15px;
    }

    .banner-text__paragraph {
        color: #fff;
        font-size: 20px;
        line-height: inherit;
    }

    .registration-link{
        margin: 10px 0;
    }
    .card__img{
        max-width: 150px;
    }

    .product__heading{
        font-size: 32px;
        padding-top: 20px;
    }

    .product{
        padding-bottom: 30px;
    }
}

@media only screen and (max-width: 630px) {
    .banner-content {
        flex-direction: column;
        justify-content: center;
    }

    .banner-content__image-block {
        margin: 0 auto;
    }
    .banner-image{
        margin-left: 0;
    }

    .banner-image {
        width: 80%;
        padding-top: 10px;
        text-align: center;
    }

    .banner-text {
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }
    .registration-link{
        margin: 20px auto;
    }
}
@media only screen and (max-width: 560px){
    .card{
        padding-left: 10px;
    }
    .card__text-heading{
        font-size: 28px;
    }
    .card__img{
        padding-left: 0;
    }
}
@media only screen and (max-width: 480px){
    .logo{
        margin-left: 80px;
    }
    .logo:before{
        font-size: 37px;
    }

    .btn-menu{
        right: 20px;
    }
    .banner-image{
        margin: 0 auto;
        display: block;
        padding-top: 20px;
    }
    .banner-text__heading{
        font-size: 22px;

    }
    .banner-text__paragraph{
        font-size: 18px;
    }
    .registration-link{
        font-size: 24px;
    }
    .card{
        flex-direction: column;
        padding: 0;
    }
    .card__text{
        margin: 0 0 18px 0;
    }
    .card__text-heading{
        font-size: 22px;
        margin-top: 15px;
    }
    .card__img{
        padding-top: 20px;
    }
    .card__text-paragraph{
        font-size: 12px;
    }
    .product__heading{
        font-size: 24px;
    }
    .product-card__text-heading{
        font-size: 18px;
    }
    .product-card__text-paragraph{
        font-size: 13px;

    }
}
