@media only screen and (max-width: 640px){
  header .logo {
    font-size: 42px;
    margin-left: 100px;
    position: relative;
    margin-bottom: 30px;
  }
  .navigation {
    display: none;
  }
  main .banner .link-right {
    display: none;
  }
  main .banner .link-left {
    display: none;
  }
  main .banner .banner-content .banner__image-1{
    max-width: 220px;
    height: auto;
    margin-left: 37px;
    margin-right: 65px;
  }

  main .banner .banner-content .banner__text {
    width: 100%;
    max-width: 293px;
    height: 100px;
    padding-right: 73px;
    padding-top: 31px;
    margin: 0;
  }

  main .banner .banner-content .banner__text-heading {
    color: #fff;
    font-size: 28px;
  }

  main .banner .banner-content .banner__text-paragraph {
    color: #fff;
    font-size: 20px;
    line-height: inherit;

  }
  main .banner .banner-content .registration-link {
    font-size: 31px;
    width: 234px;
    height: 51px;
    background: #5094f2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 2px;
    margin-left: 0;
  }
  main .main__card{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0;
    .card-1, .card-2, .card-3 {
      display: flex;
      border-bottom: 1px solid #979797;
      img{
        width: 138px;
        height: 142px;
      }
    .card-text{
      display: flex;
      flex-direction: column;
    }
    }
  }
}
