* {
  padding: 0;
  margin: 0;
}
.size {
  width: 100%;
  max-width: 1250px;
}
body {
  font-family: 'Segoe WP N', 'Arial', sans-serif;
  background: #282828;
}
.size-block {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
/*HEADER START*/
header {
  background: #ffffff;
  width: 100%;
  max-width: 1250px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header .logo {
  font-size: 42px;
  margin-left: 200px;
  position: relative;
  margin-bottom: 21px;
  padding-top: 20px;
}
header .logo:before {
  content: url("../images/logo.jpg");
  position: absolute;
  left: -60px;
  top: 26px;
}
header .navigation {
  margin-right: 175px;
  margin-bottom: 22px;
  padding-top: 42px;
}
header .navigation a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  margin-left: 19px;
  color: #6c6c6c;
}
header .navigation a:hover {
  border-bottom: 4px solid #5094f2;
  padding-bottom: 18px;
}
/*HEADER END*/
main {
  width: 100%;
  max-width: 1250px;
  /*BANNER*/
}
main .banner {
  background: url("../images/banner.jpg") no-repeat;
  width: 100%;
  max-width: 1250px;
  height: auto;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
}
main .banner .link-left {
  display: block;
  position: absolute;
  left: 88px;
  top: calc(50% - 31px);
}
main .banner .link-right {
  display: block;
  position: absolute;
  right: 88px;
  top: calc(50% - 31px);
}
main .banner .link-left__image-left {
  background: url("../images/link-left.png") no-repeat;
  width: 25px;
  height: 63px;
  background-size: cover;
}
main .banner .link-right__image-right {
  background: url("../images/link-right.png") no-repeat;
  width: 25px;
  height: 63px;
  background-size: cover;
}
main .banner .banner-content {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
  height: auto;
}
main .banner .banner-content .banner__image-1 {
  margin-top: 32px;
  margin-left: 63px;
  max-width: 100%;
  min-width: 210px;
  height: auto;
}
main .banner .banner-content .banner__text {
  width: 100%;
  max-width: 422px;
  height: 270px;
  padding-top: 80px;
  margin-left: 103px;
}
main .banner .banner-content .banner__text-heading {
  color: rgba(255, 255, 255, 0.7);
  font-size: 41px;
  font-weight: normal;
  width: 100%;
}
main .banner .banner-content .banner__text-paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
  line-height: 41px;
}
main .banner .banner-content .registration-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  width: 172px;
  height: 41px;
  background: #5094f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  border-radius: 2px;
  margin-left: 12px;
}
main .banner .banner-content .registration-link__images {
  margin-right: 9px;
}
main .main__card {
  background: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 58px 175px 98px 175px;
}
main .main__card .card__text-heading {
  color: #5094f2;
  font-size: 20px;
  margin-top: 29px;
}
main .main__card .card__text-paragraph {
  font-size: 14px;
  color: #909090;
  margin-top: 10px;
  display: block;
  width: 250px;
}
main .product {
  background: #fff;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5;
}
main .product__heading {
  width: 100%;
  font-size: 42px;
  font-weight: lighter;
  color: #6f7173;
  margin-left: 170px;
  margin-bottom: 26px;
}
main .productCard__size {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
main .productCard-image {
  padding-top: 42px;
}
main .productCard__text {
  width: 500px;
  height: 310px;
  display: block;
  margin-top: 16px;
  margin-left: 91px;
}
main .productCard__text-heading {
  color: #6f7173;
  line-height: 36px;
  font-size: 26px;
  font-weight: lighter;
}
main .productCard__text-paragraph {
  color: #979797;
  line-height: 36px;
  font-size: 16px;
  display: block;
  width: 465px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93px;
  background: #ffffff;
  color: #979797;
}
/*# sourceMappingURL=style.css.map */