* {
  padding: 0;
  margin: 0;
}
.size {
  width: 100%;
  max-width: 1250px;
}
body {
  font-family: 'Segoe WP N', 'Arial', sans-serif;
  background: #282828;
}
.size-block {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}
/*HEADER START*/
header {
  background: #ffffff;
  width: 100%;
  max-width: 1250px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
header .logo {
  font-size: 42px;
  margin-left: 200px;
  position: relative;
  margin-bottom: 21px;
  padding-top: 20px;
}
header .logo:before {
  content: url("../images/logo.jpg");
  position: absolute;
  left: -60px;
  top: 26px;
}
header .navigation {
  margin-right: 175px;
  margin-bottom: 22px;
  padding-top: 42px;
}
header .navigation a {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  margin-left: 19px;
  color: #6c6c6c;
}
header .navigation a:hover {
  border-bottom: 4px solid #5094f2;
  padding-bottom: 18px;
}
/*HEADER END*/
main {
  width: 100%;
  max-width: 1250px;
  /*BANNER*/
}
main .banner {
  background: url("../images/banner.jpg") no-repeat;
  width: 100%;
  max-width: 1250px;
  height: 579px;
  background-size: cover;
}
main .banner__text {
  width: 100%;
  max-width: 422px;
  height: 270px;
  margin-left: 625px;
  padding-top: 150px;
}
main .banner__text .banner-heading {
  color: #fff;
  font-size: 41px;
}
main .banner__text .banner-paragraph {
  width: 100%;
  max-width: 260px;
  height: 80px;
  color: #fff;
  font-size: 25px;
  line-height: 41px;
}
main .banner__text .registration-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  width: 172px;
  height: 41px;
  background: #5094f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  border-radius: 2px;
}
main .banner__text .registration-link-images {
  margin-right: 9px;
}
main .main__card {
  background: #fff;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 58px 175px 98px 175px;
}
main .card__heading {
  color: #5094f2;
  font-size: 20px;
  margin-top: 29px;
}
main p {
  font-size: 14px;
  color: #909090;
  margin-top: 10px;
  display: block;
  width: 250px;
}
main .shopping__card {
  background: #fff;
  padding-bottom: 60px;
  border-bottom: 1px solid #e5e5e5;
}
main .shopping__card__heading {
  font-size: 42px;
  color: #6f7173;
  margin-left: 170px;
}
main .card__size {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
main .card__image {
  padding-top: 42px;
}
main .card__text {
  width: 500px;
  height: 310px;
  display: block;
  margin-top: 16px;
  margin-left: 91px;
}
main .shopping__card__heading {
  margin-left: 175px;
  margin-bottom: 26px;
}
main .card__text__heading {
  color: #6f7173;
  line-height: 36px;
  font-size: 26px;
}
main .card__text__paragraph {
  color: #979797;
  line-height: 36px;
  font-size: 16px;
  display: block;
  width: 465px;
}
main footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 93px;
  background: #ffffff;
  color: #979797;
}
/*# sourceMappingURL=style.css.map */